body {
  background-color: black;
  margin-left: 150px;
  margin-right: 150px;
}
.pontatlan {
  list-style-type: none;
}
.menu ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.menu a {
  background-color: black;
  color: white;
  display: grid;
  padding: 1px;
  text-decoration: none;
  grid-template-columns: auto auto auto auto auto auto;
}
.izekxd{
  margin-left: 90px;
}
.menu a:hover {
  background-color: #04aa6d;
}
li{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style: none;
}
li::before {
  font-weight: bold;
  content: ">  "; 
  color: orangered;
}
.menu a.active {
  background-color: white;
  color: white;
}
.img{
    margin-left: 20px;
    padding-left: 20px;
}
.elsonagy {
  color:white;
  margin-left: 300px;
  margin-right: 300px;
  grid-area: elso;
  display: grid;
  grid-template-columns: auto auto auto;
}
.folyamat {
  width: 500px;
  height: 680px;
  float: right;
}
.kicsi {
  border-right: 1px solid;
  border-color: red;
  margin-right: 12px;
}
.kicsi1{
  border-right: 1px solid;
  border-color: red;
  margin-right: 12px;
}

h1 {
  text-align: center;
  color:white;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:white;
  border-radius: 2px;
  border-bottom: 2px;
  text-align: center;
  border-color: red;
}
.masodiknagy {
    color:white;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  column-gap: 5px;
  row-gap: 1em;
}

.sales {
    color:white;
  text-align: center;
}
.harmadiknagy {
    color:white;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  grid-area: harmadik;
  display: contents;
  grid-template-columns: auto auto auto;
}
.box{
    color:white;
    border-radius: 2px;
    border-color: blue;
    border-style: dashed;
}
.persons{
    display: grid;
    margin-left: 300px;
    grid-template-columns: auto auto auto auto auto;
}
@media screen and (max-width: 600px) {
  body {
    margin-right:auto;
    margin-left:auto;
  }
}
